.nav_bar {
    background-color: brown;
    display: flex;
    justify-content: center;
}

.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
    background-color: greenyellow;
    overflow: hidden;
}

.nav_bar li {
    float: left;
    border-right: 1px solid black;
    width: 100px;
    height: 40px;
}

.nav_bar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 100%;
    display: grid;
    place-items: center;
}

.nav_bar li a:active {
    background-color: #e45e7b;
    color: black;
  }

  .nav_bar li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }